@mixin underline {
  content: "";
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
