h1 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
}

h2 {
  font-size: clamp(1.3rem, 4rem + 2vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 2rem + 2vw, 1.5rem);
}
a {
  font-weight: 200;
}

p {
  margin-top: 0;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}

strong {
  font-weight: 700;
}
