@import "../styles/globals/color";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $french-beige;
  margin-top: 50px;
  margin-inline: 20px;
  padding-block: 20px;

  .footer-nav {
    ul {
      display: flex;
      flex-direction: column;
    }

    @media only screen and (min-width: 600px) {
      ul {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  li,
  a {
    color: $swiss-coffee;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;

    &:hover {
      color: white;
    }
  }

  .top-page {
    font-size: 2.5rem;
    margin-left: 10px;
    cursor: pointer;
  }

  nav {
    ul {
      display: flex;

      li {
        margin-right: 20px;
      }
    }
  }

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
